In [1]:
#import Pandas and Numpy
import pandas as pd
import numpy as np

In [21]:
#import the file with data
game=pd.read_csv('C:/Data Science/1_Task/baseball_games.csv', delimiter=',')

In [22]:
game

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2458,31042.0,Toronto Blue Jays,2,7,5,2016-04-03,on turf,Day Game,Tampa Bay Rays,...,72.0,0.0,in unknown direction,In Dome,8,2.850000,regular season,0,1,Loss
2459,2459,39500.0,St. Louis Cardinals,0,5,1,2016-04-03,on grass,Day Game,Pittsburgh Pirates,...,39.0,14.0,out to Leftfield,Unknown,5,3.033333,regular season,1,0,Win
2460,2460,20098.0,San Francisco Giants,0,6,3,2016-04-06,on grass,Day Game,Milwaukee Brewers,...,66.0,0.0,in unknown direction,In Dome,7,3.316667,regular season,1,0,Win
2461,2461,17883.0,Detroit Tigers,0,13,7,2016-04-06,on grass,Day Game,Miami Marlins,...,71.0,0.0,in unknown direction,In Dome,10,3.366667,regular season,0,1,Loss
2462,2462,10298.0,Boston Red Sox,1,10,6,2016-04-06,on grass,Night Game,Cleveland Indians,...,60.0,7.0,out to Leftfield,Unknown,13,3.483333,regular season,1,0,Win

In [23]:
game.head(3)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win

In [24]:
game.tail(3)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2460,2460,20098.0,San Francisco Giants,0,6,3,2016-04-06,on grass,Day Game,Milwaukee Brewers,...,66.0,0.0,in unknown direction,In Dome,7,3.316667,regular season,1,0,Win
2461,2461,17883.0,Detroit Tigers,0,13,7,2016-04-06,on grass,Day Game,Miami Marlins,...,71.0,0.0,in unknown direction,In Dome,10,3.366667,regular season,0,1,Loss
2462,2462,10298.0,Boston Red Sox,1,10,6,2016-04-06,on grass,Night Game,Cleveland Indians,...,60.0,7.0,out to Leftfield,Unknown,13,3.483333,regular season,1,0,Win

In [25]:
game.sample(3)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
563,563,36270.0,Toronto Blue Jays,1,4,0,2016-09-18,on grass,Day Game,Los Angeles Angels of Anaheim,...,84.0,6.0,from Right to Left,Sunny,4,3.416667,regular season,1,0,Win
1054,1054,23450.0,Chicago Cubs,0,10,3,2016-08-07,on grass,Day Game,Oakland Athletics,...,63.0,4.0,out to Rightfield,Sunny,4,2.883333,regular season,0,1,Loss
2070,2070,42186.0,New York Mets,2,8,4,2016-05-09,on grass,Night Game,Los Angeles Dodgers,...,62.0,6.0,out to Rightfield,Sunny,6,3.133333,regular season,0,1,Loss

In [26]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2463 non-null   int64
 1   attendance         2460 non-null   float64
 2   away_team          2463 non-null   object
 3   away_team_errors   2463 non-null   int64
 4   away_team_hits     2463 non-null   int64
 5   away_team_runs     2463 non-null   int64
 6   date               2463 non-null   object
 7   field_type         2463 non-null   object
 8   game_type          2463 non-null   object
 9   home_team          2463 non-null   object
 10  home_team_errors   2463 non-null   int64
 11  home_team_hits     2463 non-null   int64
 12  home_team_runs     2463 non-null   int64
 13  start_time         2463 non-null   object
 14  venue              2463 non-null   object
 15  day_of_week        2463 non-null   object
 16  temperature        2463 non-null   float64
 17  wind_speed         2463 non-null   float64
 18  wind_direction     2463 non-null   object
 19  sky                2463 non-null   object
 20  total_runs         2463 non-null   int64
 21  game_hours_dec     2463 non-null   float64
 22  season             2463 non-null   object
 23  home_team_win      2463 non-null   int64
 24  home_team_loss     2463 non-null   int64
 25  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(10), object(12)
memory usage: 500.4+ KB

In [43]:
#1.Attendance max in a season
#Ищем вначале макимальное число зрителей
game['attendance'].max()
#Выводим номер индекса игры
game['attendance'].idxmax()

358

In [44]:
#2.Tempetature min in a season in Farengeit
game['temperature'].min()
#Выводим номер индекса игры
game['temperature'].idxmin()

2409

In [45]:
#3.Tempetature max in a season in Farengeit
game['temperature'].max()
#Выводим номер индекса игры
game['temperature'].idxmax()

2026

In [46]:
#4.Long time game in a season
game['game_hours_dec'].max()
#Выводим номер индекса игры
game['game_hours_dec'].idxmax()

1445

In [47]:
#5.Short time game in a season
game['game_hours_dec'].min()
#Выводим номер индекса игры
game['game_hours_dec'].idxmin()

423

In [116]:
#6. Согласно правилам бейсбола у этой игры не бывает ничьих. Если просмотреть уникальные значения, которые есть в колонке исход матчта, то можно увидеть там только 2 уникальных значения Win и Loss 
#Я отняла от ранов гостевой команды раны домашней команды и стала искать нули и вывожу индекс игры, где разница равна нулю
delta_runs=game['away_team_runs'].sub(game['home_team_runs'])
(delta_runs==0).sum()
(delta_runs==0).idxmax()

423

In [134]:
#7.Last game in a season
# print max(game['date'])
#Выводим номер индекса игры
game['date'] = pd.to_datetime(game['date'])
game['date'].idxmax()
#game.iloc[350]

Unnamed: 0                           350
attendance                       38104.0
away_team                   Chicago Cubs
away_team_errors                       3
away_team_hits                        13
away_team_runs                         8
date                 2016-11-02 00:00:00
field_type                      on grass
game_type                     Night Game
home_team              Cleveland Indians
home_team_errors                       1
home_team_hits                        11
home_team_runs                         7
start_time               8:02 p.m. Local
venue                  Progressive Field
day_of_week                    Wednesday
temperature                         69.0
wind_speed                           7.0
wind_direction        from Left to Right
sky                               Cloudy
total_runs                            15
game_hours_dec                  4.466667
season                       post season
home_team_win                          0
home_team_loss                         1
home_team_outcome                   Loss
Name: 350, dtype: object

In [71]:
#8.Attendance min in a season
#Ищем вначале минимальное число зрителей
game['attendance'].min()
#Выводим номер индекса игры
game['attendance'].idxmin()

2130

In [83]:
#9.Wind max in a season
#Ищем вначале минимальное число зрителей
game['wind_speed'].max()
#Выводим номер индекса игры
game['wind_speed'].idxmax()

1655

In [132]:
#10.Максимальное количество очков, в задании не указано кто получил, поэтому считаю что для всех по тотал. В задании не указано что подразумевается под очками.
game['total_runs'].max()
#Выводим номер индекса игры
game['total_runs'].idxmax()

1788

In [133]:
#11.Максимальное количество ошибок для домашней команды.
game['home_team_errors'].max()
#Выводим номер индекса игры
game['home_team_errors'].idxmax()

1178

In [135]:
#12.Максимальное количество ранов, в задании не указано кто получил, поэтому считаю что для всех по тотал
game['total_runs'].max()
#Выводим номер индекса игры
game['total_runs'].idxmax()

1788

In [147]:
#13 Количество игр, которая сыграла каждая команда в сезоне
game['away_team'].value_counts() + game ['home_team'].value_counts()

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                163
Boston Red Sox                   165
Chicago Cubs                     179
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                176
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              173
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    163
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             167
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    165
Toronto Blue Jays                171
Washington Nationals             167
dtype: int64

In [179]:
#14 Какая команда выиграла наибольшее количество матчей в сезоне
game['delta_run']=game['away_team_runs'].sub(game['home_team_runs'])
game['win_team']=np.where(game['delta_run']>0, game['away_team'],game['home_team'])

win_count=game['win_team'].value_counts(ascending=False)
print (win_count)

Chicago Cubs                     114
Cleveland Indians                104
Washington Nationals              97
Los Angeles Dodgers               96
Texas Rangers                     95
Toronto Blue Jays                 94
Boston Red Sox                    93
Baltimore Orioles                 89
San Francisco Giants              89
New York Mets                     87
Seattle Mariners                  86
St. Louis Cardinals               86
Detroit Tigers                    86
New York Yankees                  84
Houston Astros                    84
Kansas City Royals                81
Miami Marlins                     79
Pittsburgh Pirates                79
Chicago White Sox                 78
Colorado Rockies                  75
Los Angeles Angels of Anaheim     74
Milwaukee Brewers                 73
Philadelphia Phillies             71
Arizona Diamondbacks              69
Oakland Athletics                 69
Cincinnati Reds                   68
San Diego Padres                  68
Atlanta Braves                    68
Tampa Bay Rays                    68
Minnesota Twins                   59
Name: win_team, dtype: int64

In [185]:
#15 Какая команда выиграла наибольшее количество домашних матчей
game['win_home_team']=np.where(game['home_team_win']==1, game['home_team'],0)
game['win_home_team'].value_counts(ascending=False)

0                                1159
Chicago Cubs                       62
Cleveland Indians                  58
Los Angeles Dodgers                55
Texas Rangers                      53
Washington Nationals               51
Baltimore Orioles                  50
Toronto Blue Jays                  49
New York Yankees                   48
Kansas City Royals                 47
Boston Red Sox                     47
San Francisco Giants               46
Detroit Tigers                     45
Chicago White Sox                  45
Seattle Mariners                   44
New York Mets                      44
Houston Astros                     43
Colorado Rockies                   42
Milwaukee Brewers                  41
Los Angeles Angels of Anaheim      40
Miami Marlins                      40
San Diego Padres                   39
St. Louis Cardinals                38
Cincinnati Reds                    38
Pittsburgh Pirates                 38
Philadelphia Phillies              37
Tampa Bay Rays                     36
Oakland Athletics                  34
Arizona Diamondbacks               33
Atlanta Braves                     31
Minnesota Twins                    30
Name: win_home_team, dtype: int64

In [188]:
#16 Какая команда выиграла наибольшее количество гостевых матчей
game['delta_run']=game['away_team_runs'].sub(game['home_team_runs'])
game['win_away_team']=np.where(game['delta_run']>0, game['away_team'],0)

win_away_count=game['win_away_team'].value_counts(ascending=False)
print (win_away_count)

0                                1305
Chicago Cubs                       52
St. Louis Cardinals                48
Washington Nationals               46
Cleveland Indians                  46
Boston Red Sox                     46
Toronto Blue Jays                  45
San Francisco Giants               43
New York Mets                      43
Texas Rangers                      42
Seattle Mariners                   42
Houston Astros                     41
Los Angeles Dodgers                41
Detroit Tigers                     41
Pittsburgh Pirates                 40
Baltimore Orioles                  39
Miami Marlins                      39
Atlanta Braves                     37
New York Yankees                   36
Arizona Diamondbacks               36
Oakland Athletics                  35
Kansas City Royals                 34
Philadelphia Phillies              34
Los Angeles Angels of Anaheim      34
Chicago White Sox                  33
Colorado Rockies                   33
Milwaukee Brewers                  32
Tampa Bay Rays                     32
Cincinnati Reds                    30
San Diego Padres                   29
Minnesota Twins                    29
Name: win_away_team, dtype: int64

In [190]:
#17 Какая команда проиграла наибольшее количество матчей в сезоне
game['delta_run']=game['away_team_runs'].sub(game['home_team_runs'])
game['loss_team']=np.where(game['delta_run']>0, game['home_team'],game['away_team'])

win_count=game['loss_team'].value_counts(ascending=False)
print (win_count)

Minnesota Twins                  103
Cincinnati Reds                   94
San Diego Padres                  94
Tampa Bay Rays                    94
Atlanta Braves                    93
Arizona Diamondbacks              93
Oakland Athletics                 93
Philadelphia Phillies             91
Milwaukee Brewers                 89
Los Angeles Angels of Anaheim     88
Colorado Rockies                  87
Chicago White Sox                 84
Pittsburgh Pirates                83
Miami Marlins                     82
Kansas City Royals                81
Houston Astros                    78
San Francisco Giants              78
New York Yankees                  78
Los Angeles Dodgers               77
Toronto Blue Jays                 77
New York Mets                     76
Seattle Mariners                  76
St. Louis Cardinals               76
Detroit Tigers                    75
Baltimore Orioles                 74
Boston Red Sox                    72
Cleveland Indians                 72
Washington Nationals              70
Texas Rangers                     70
Chicago Cubs                      65
Name: loss_team, dtype: int64

In [193]:
#18 Зависит ли выигрыш от количества посетителей матча. Я так поняла, что выигрыш домашней команды. Задание сформулировано расплывчато
game['cov']=game['attendance'].cov(game['home_team_win'])
print (game['cov'])

0       224.971873
1       224.971873
2       224.971873
3       224.971873
4       224.971873
           ...
2458    224.971873
2459    224.971873
2460    224.971873
2461    224.971873
2462    224.971873
Name: cov, Length: 2463, dtype: float64

In [221]:
#19 Правда ли что большинство проигрышей было в субботу. Я так поняла, что проигрыш домашней команды.
game['delta_run']=game['away_team_runs'].sub(game['home_team_runs'])
game['loss_team']=np.where(game['delta_run']>0, 1,0)
game['loss_day']=np.where(game['loss_team']==1, game['day_of_week'],0)
game['loss_day_number']=np.where(game['day_of_week']=='Saturday',1,0)
game['loss_day_number']=np.where(game['day_of_week']=='Sunday',1,0)
sum_loss=game['loss_day_number'].sum()
total_loss=game['loss_team'].sum()
#Вывожу соотношение проигранных матчей в субботу и воскресенье к общему количеству проигранных домашних матчей
print (sum_loss/total_loss)

0.3385146804835924

In [222]:
#20 Правда ли, что наибольшее количество ранов происходит в субботу
game['runs_saturday']=np.where(game['day_of_week']=='Saturday',game['total_runs'],0)
game['runs_others']=np.where(game['day_of_week']!='Saturday',game['total_runs'],0)
total_saturday=game['runs_saturday'].max()
total_others=game['runs_others'].max()
#Вывожу соотношение максимального количества ранов в субботу  к максимальному количеству ранов в остальные дни
print (total_saturday/total_others)

0.7931034482758621